{% block footer %}
    <br /><br />
    <p>A très vite et bon sport !</p>
    <p>Sportivement,<br>
        L’équipe WeekinSport.<br />
        <a href="http://www.weekinsport.fr">www.weekinsport.fr</a>
        {#<a href="mailto:contact@weekinsport.fr">contact@weekinsport.fr</a><br />#}
    </p>
    </td>
    </tr>
    </table>
    </table>



    {#</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<td class="w580" width="580" height="10"></td>#}
    {#</tr>#}
    {#</tbody>#}
    {#</table>#}

    {#<hr bgcolor="#cccccc" style="background-color: #cccccc; margin: 10px"/>#}
    {#<table id="top-bar" class="w700" width="700" cellpadding="0" cellspacing="0" border="0"#}
           {#bgcolor="#222">#}
        {#<tbody>#}
        {#<tr>#}
            {#<td class="w15" width="15"></td>#}
            {#<td class="w325" width="350" valign="middle" align="left">#}
                {#<table class="w325" width="350" cellpadding="0" cellspacing="0" border="0">#}
                    {#<tbody>#}
                    {#<tr>#}
                        {#<td class="w325" width="350" height="8"></td>#}
                    {#</tr>#}
                    {#</tbody>#}
                {#</table>#}
                {#<div class="header-content">#}
                    {#<a href="{{ base_url }}" style="color: #ffffff">Accueil</a>#}
                                {#<span class="hide">#}
                                {#&nbsp;&nbsp;</span>#}
                {#</div>#}
                {#<table class="w325" width="350" cellpadding="0" cellspacing="0" border="0">#}
                    {#<tbody>#}
                    {#<tr>#}
                        {#<td class="w325" width="350" height="8"></td>#}
                    {#</tr>#}
                    {#</tbody>#}
                {#</table>#}
            {#</td>#}
            {#<td class="w30" width="30"></td>#}
            {#<td class="w255" width="255" valign="middle" align="right">#}
                {#<table class="w255" width="255" cellpadding="0" cellspacing="0" border="0">#}
                    {#<tbody>#}
                    {#<tr>#}
                        {#<td class="w255" width="255" height="8"></td>#}
                    {#</tr>#}
                    {#</tbody>#}
                {#</table>#}
                {#<table cellpadding="0" cellspacing="0" border="0">#}
                    {#<tbody>#}
                    {#<tr>#}

                        {#<td valign="middle">#}
                            {#<a href="https://www.facebook.com/pages/Weekinsport/304853739658299" target="_blank"><img#}
                                    {#src="https://img.createsend1.com/img/templatebuilder/like-glyph.png"#}
                                    {#border="0" width="8" height="14" alt="Facebook icon"=""></a>#}
                        {#</td>#}
                        {#<td width="3"></td>#}
                        {#<td valign="middle">#}
                            {#<div class="header-content">#}
                                {#<a style="color: #ffffff" href="https://www.facebook.com/pages/Weekinsport/304853739658299" target="_blank">Facebook</a>#}
                            {#</div>#}
                        {#</td>#}


                        {#<td class="w10" width="10"></td>#}
                        {#<td valign="middle">#}
                            {#<tweet><a href="https://twitter.com/Weekinsport" target="_blank"><img#}
                                    {#src="https://img.createsend1.com/img/templatebuilder/tweet-glyph.png"#}
                                    {#border="0" width="17" height="13" alt="Twitter icon"=""></a>#}
                            {#</tweet>#}
                        {#</td>#}
                        {#<td width="3"></td>#}
                        {#<td valign="middle">#}
                            {#<div class="header-content">#}
                                {#<a href="https://twitter.com/Weekinsport" target="_blank" style="color: #ffffff">Twitter</a>#}
                            {#</div>#}
                        {#</td>#}


                    {#</tr>#}
                    {#</tbody>#}
                {#</table>#}
                {#<table class="w255" width="255" cellpadding="0" cellspacing="0" border="0">#}
                    {#<tbody>#}
                    {#<tr>#}
                        {#<td class="w255" width="255" height="8"></td>#}
                    {#</tr>#}
                    {#</tbody>#}
                {#</table>#}
            {#</td>#}
            {#<td class="w15" width="15"></td>#}
        {#</tr>#}
        {#</tbody>#}
    {#</table>#}
    {#</td>#}
    {#</tr>#}
    {#</tbody>#}
    {#</table>#}
    {#</body>#}
    {#</html>#}

{% endblock %}
