
{% block content %}
    <div style="width:352px; height:625px; margin:0 auto; background-color:#fff;" >
        <div>
            <video id="camFeed" width="320" height="240" autoplay>
            </video>
        </div>

        <div>
            <canvas id="photo" width="320" height="240">
            </canvas>
        </div>

        <div style="margin:0 auto; width:82px;">
            <input type="button" value="Take Photo" onclick="takePhoto();">
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        init();
        function init()
        {
            if(navigator.webkitGetUserMedia)
            {
                navigator.webkitGetUserMedia({video:true}, onSuccess, onFail);
            }
            else
            {
                alert('webRTC not available');
            }
        }

        function onSuccess(stream)
        {
            document.getElementById('camFeed').src = webkitURL.createObjectURL(stream);
        }

        function onFail()
        {
            alert('could not connect stream');
        }

//        $( document ).ready(function() {
            var rtc = holla.connect();
            rtc.register("tom", function(worked) {
                holla.createFullStream(function(err, stream) {

                    var call = rtc.call("bob");
                    call.addStream(stream);
                    holla.pipe(stream, $("#camFeed"));

                    call.on("answered", function() {
                        console.log("Remote user answered the call");
                    });

                    console.log("Calling ", call.user);
                });
            });
//        });



    </script>

{% endblock %}
{#End Css And JS Files#}